@media only screen and (max-width: 1440px) {
  #content-card-wp > div {
    padding: 5px;
  }
  .content-cart-text h2 {
    font-size: 27px;
  }
  .content-cart-text p {
    font-size: 19px;
  }
}

@media only screen and (max-width: 1150px) {
  /* ===============HEADER================ */
  #header {
    height: 80px;
  }

  #head-blank {
    height: 80px;
  }

  #nav-wp {
    padding: 15px 10px;
    position: relative;
  }

  #logo img {
    height: 55px;
  }

  ul#main-menu,
  #info {
    display: none;
  }

  #toggle-menu-wp {
    justify-content: end;
  }

  #menu-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 10px;
  }

  #menu-btn > span {
    display: block;
    width: 23px;
    height: 2px;
    background-color: #6f6f6f;
    margin: 3px;
  }

  #menu-btn:hover > span {
    background-color: #000;
    transition: all 0.3s;
  }

  #menu-btn.opened > span:first-child {
    transform: translate(0, 4px) rotate(-45deg);
  }

  #menu-btn.opened > span:nth-child(2) {
    display: none;
  }

  #menu-btn.opened > span:last-child {
    transform: translate(0, -4px) rotate(45deg);
  }

  #main-menu-wp {
    background-color: #fff;
    flex-direction: column-reverse;
  }

  ul#main-menu.show-menu {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    top: 80px;
    margin-top: 0px;
  }

  ul#main-menu.show-menu > li > a {
    font-size: 16px;
  }

  ul#main-menu.show-menu li:hover > a {
    background-color: #e9ecef;
  }

  ul#main-menu.show-menu li:focus > a {
    background-color: #e9ecef;
  }

  ul#main-menu.show-menu ul#sub-menu {
    position: static;
    width: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding-left: 20px;
  }

  ul#sub-menu > li > a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1024px) {
  /* =============CONTENT=================== */
  /* head-title */
  #head-title h1 {
    font-size: 48px;
  }
  #head-title span,
  #head-title small {
    font-size: 18px;
  }
  /* about-us */
  h1.main-title {
    margin: 30px 0;
    font-size: 14px;
  }
  #content-card-wp > div {
    width: 50%;
  }
  .content-cart-text {
    padding: 30px;
  }

  .content-cart-text h2 {
    font-size: 26px;
  }

  /* rental-support */
  .section-content {
    width: 50%;
  }
  .section-content h2 {
    font-size: 24px;
  }
  .section-content p {
    font-size: 17px;
    margin-bottom: 30px;
  }
  .section-content a {
    font-size: 16px;
    letter-spacing: 3px;
  }
  /* reseller  */
  ul#list-reseller li {
    width: 25%;
    margin-bottom: 10px;
    padding: 0 12px;
  }
  ul#list-reseller li img {
    max-height: 50px;
  }
}
@media only screen and (max-width: 768px) {
  /* head-title */
  #head-title-wp {
    padding: 150px 50px;
  }
  #head-title-wp h1 {
    font-size: 38px;
  }
  #head-title-wp span,
  #head-title-wp small {
    font-size: 16px;
  }
  /* about-us */

  #content-card-wp > div {
    width: 100%;
  }
  h1.main-title {
    margin: 20px 0;
  }
  .content-cart-text h2 {
    font-size: 20px;
  }
  .content-cart-text p {
    font-size: 16px;
  }

  /* rental-support */
  .section-content {
    width: 100%;
  }
  .section-content h2 {
    font-size: 20px;
  }

  .section-content p {
    font-size: 14px;
  }
  /* reseller  */
  ul#list-reseller li {
    width: 33.33%;
  }
  #reseller-wp ul li img {
    max-height: 40px;
  }
}
@media only screen and (max-width: 576px) {
  /* head-title */
  #head-title-wp {
    padding: 100px 50px;
  }

  #head-title-wp h1 {
    font-size: 28px;
    margin-bottom: 10px;
    line-height: 1;
  }

  #head-title-wp span {
    margin-bottom: 10px;
    font-size: 12px;
  }
  #head-title-wp small {
    font-size: 12px;
  }
  /* about-us */
  .content-cart-text h2 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 320px) {
}
